@use "../base/mixins" as *;
@use "../base/variables" as *;
@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }   
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
        }
        .resume {
            padding-top: 120px;
            &__wrapper {
                grid-template-columns: repeat(2, 347px);
            }
    }
    .used {
        padding-top: 90;
        &__wrapper {
            justify-content: space-evenly;
            grid-template-columns: repeat(auto-fill,270px);
            row-gap: 30px;
        }
        &__sliders {
            padding-top: 65px;   
            row-gap: 35px;
            grid-template: repeat(3,minmax(70px,auto))/repeat(2,456px);
            &-item {
                justify-content: space-around;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizon, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
                padding: 0;
                grid-template-columns: 390px 560px;     
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,275px);
        }
    }
    }
@media (max-width: 992px) {
    .promo {
        background: #fccabc url(../img/bg/n-fa.png) no-repeat bottom right;
    }
    .container {
        max-width: 720px;
    }
    .promo {
        padding-top: 115px;
    }
    .about {
        &__title {
            font-size: 33px;
        }
        &__wrapper {
            grid-template-columns: 300px 390px;
            column-gap: 30px;
        }
        &__skills {
            grid-template: minmax(115px,auto) / 390px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 325px;
            }
        }
    }
    .resume__wrapper {
        padding-top: 60px;
        grid-template-columns: repeat(2,234px);
        column-gap: 120px;
    }
    .used {
        padding-top: 100px;
        &__wrapper {
            margin-top: 60px;
        }
        &__sliders {
            padding-top: 60px;
            grid-template: repeat(3,minmax(70px,auto)) / repeat(2,360px);
            column-gap: normal;
        }
        &__slider {
            width: 300px;
        }
    }
    .price {
        padding-top: 60px;
        &__wrapper {
            margin-top: 40px;
            grid-template-columns: repeat(auto-fit, 345px);
        }
    }
    .portfolio {
        padding-top: 100px;
        &__wrapper {
            margin-top: 40px;
        }
    }
    .contacts {
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 615px;
            justify-content: space-around;
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48{
            font-size: 28px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .promo {
        padding-top: 210px;
        background: #fccabc url("../img/bg/n-fa.png") no-repeat bottom / 100%;
        &__title {
            width: 300px;
            line-height: 39px;
        }
    }
    .about {
        padding-top: 40px;
        &__title {
            font-size: 30px;
        }
        &__img {
            grid-row: unset;
        }
        &__wrapper{ 
            grid-template-columns: 1fr;
            grid-template-rows: 340px auto auto;
            column-gap: 30px;
        }
        &__skills {
            grid-template: minmax(115px,auto) / 1fr;
            &-item {
                grid-template-columns: 40px 1fr;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            padding: 0;
            grid-template-columns: 1fr;
            column-gap: 120px;
            row-gap: 30px
        }
        .divider {
            margin-bottom: 40px;
        }
    }
    .used {
        &__wrapper {
            grid-template-columns: repeat(2,260px);
        }
        &__sliders {
            grid-template: repeat(3,minmax(70px,auto))/repeat(2,270px);
            grid-auto-rows: minmax(70px, auto);
            column-gap: normal;
            row-gap: 50px;
            }
        &__slider {
            width: 250px;
        }
        }
    .portfolio {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: repeat(2,260px);
        }
    }
    .price {
        padding-top: 40px;
        &__wrapper {
            margin-top: 20px;
            justify-content: center;
            row-gap: 20px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 540px;
            justify-content: unset;
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,260px);
        }
    }
}
@media (max-width: 576px) {
    .title {
        &_fz36 {
            font-size: 23px;
        }
    }
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48{
            font-size: 26px;
        }
    }
    .menu {
        &__block {
            width: 250px;
        }
    }
    .promo {
        background: #fccabc url(../img/bg/575-n.png) no-repeat bottom / 100% 43%;
        padding-top: 180px;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__title {
            font-size: 24px;
        }
        &__wrapper {
            row-gap: 30px;
        }
    }
    .used {
        padding-top: 45px;
        &__wrapper {
            grid-template-columns: repeat(auto-fill, 280px);
        }
        &__sliders {
            grid-template: repeat(3,minmax(70px,auto))/ repeat(auto-fill, 300px);
            justify-content: center;
            &-item {
                justify-content: space-between;
            }   
        }
        &__slider {
            width: 300px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fill,280px);
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
    .contacts {
        padding-top: 45px;
        &__subtitle {
            font-size: 24px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 45px 190px 45px/1fr;
        }
        &__input {
            grid-column: 1;
        }
        &__triggers {
            grid-template-columns: 1fr;
        }
        &__policy {
            margin-top: 10px;
        }
    }
    .modal {
        &__dialog {
            max-width: 80%;
        }
        &__title {
            font-size: 18px;
        }
        &__input {
            width: 90%;
        }
        button {
            width: 90%;
            font-size: 14px;
        }
    }
}